*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8EEEE;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 3vw;
}

.fa-moon{
    color: #1E1E1E;
    font-size: 24px;
}

main{
    padding: 0 5vw;
}

.settings{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}